<div class="row filter">
	Date: <%= date_field_tag :date_from, date_from %> to <%= date_field_tag :date_to, date_to %><br>
	Time: <%= time_field_tag :time_from, time_from %> to <%= time_field_tag :time_to, time_to %>
</div>