<script type="text/javascript">
	<% date_range = (@date['from']..@date['to']).map{|d| d.strftime("%F")} %>
	$(function(){
		new Highcharts.Chart({
			chart: {
				renderTo: "main_chart"
			},
			title: {
            text: 'Meeting Room Reservations Analytics'
	        },
	        xAxis: {
	            categories: <%= raw date_range %><%#= raw MeetingRoom.order(:id).pluck(:room) %><%#= MeetingRoom.where(id: 1..5).pluck(:room).inspect %>
	        },
	        series: [
		        {
		            type: 'column',
		            name: "Total Reservations",
		            data: <%= date_range.map {|date| Reservation.where(reservation_date: date).count} %>
		        },
		        {
		            type: 'column',
		            name: "Total Reservations",
		            data: <%= date_range.map {|date| Reservation.where(reservation_date: date).count} %>
		        }
		    ]
		});
	});
</script>

<h1>Meeting Room Reservation Analytics</h1>
<%#= @date['from'].year %>
<%#= Date.strptime(@date['from'], '%Y-%m-%d')..Date.strptime(@date['to'], '%Y-%m-%d') %>
<%# ((Date.new(@date['from'].year,@date['from'].month,@date['from'].day))..(Date.new(@date['to'].year,@date['to'].month,@date['to'].day))).each do |d| %>
<%#= (@date['from']..@date['to']).map{|date| date.strftime("%b %d")} %>
<%#= (@date['from']..@date['to']).map{|d| d.strftime("%F")} %>
<%#= d %>
<%# end -%>
<%= render partial: "analytics_filterB", locals: {date_from: @date['from'], date_to: @date['to'], time_from: @time['from'], time_to: @time['to']} %>

<div class="row summary">
	<button><span class="glyphicon glyphicon-triangle-top"></span> Summary </button>
	<div class="details">
		<ul style="list-style:none">
		    <li>Total Number of False/Unused Reservations:  45</li>
		    <li>B:</li>
		    <li>C:</li>
		    <li>D:</li>
		    <li>E:</li>
		</ul>
	</div>
</div>

<div class="row chart-view">

	<div class="chart-card-item">
		<div class="card">
		  <div class="panel panel-primary">
		  	<div class="panel-heading"> Room Usage</div>
		    <div class="panel-body" id="main_chart"></div>
			<div class="panel-footer">Amount of time input in reservation</div>
		  </div>
		</div>
	</div>

	<!-- <div class="chart-card-item">
		<div class="card">
		  <div class="panel panel-primary">
		  	<div class="panel-heading"> Room Usage</div>
		    <div class="panel-body" id="total_reservations"></div>
			<div class="panel-footer">Amount of time input in reservation</div>
		  </div>
		</div>
	</div> -->

</div>
